---
# Install zsh and oh-my-zsh

- name: install zsh
  homebrew:
    name: zsh
    state: latest
  tags:
    - installation
    - zsh

- name: install oh-my-zsh
  shell: '/bin/sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"'
  tags:
    - installation
    - zsh

- name: download powerline fonts for themes
  git:
    repo: https://github.com/powerline/fonts.git
    dest: /tmp/powerline_fonts
    depth: 1
  tags:
    - installation
    - zsh

- name: install powerline fonts
  copy:
    src: /tmp/powerline_fonts/
    dest: {{ lookup('env','HOME') }}/Library/fonts/
    directory_mode: 0755
  tags:
    - installation
    - zsh

- name: install themes
  git:
    repo: https://github.com/bhilburn/powerlevel9k.git
    dest: {{ lookup('env','HOME') }}/.oh-my-zsh/custom/themes/powerlevel9k
  tags:
    - installation
    - zsh

- name: setup zsh config
  template:
    src: zshrc.j2
    dest: {{ lookup('env','HOME') }}/.zshrc
  tags:
    - configuration
    - zsh

- name: change shell
  user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
  tags:
    - configuration
    - zsh
